body {
  background: #d5e1ef;
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  height: 2vh;
}
.qrcode {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

/*card Styles*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 320px;
  height: 499px;
  border-radius: 20px;
  filter: drop-shadow(0px 25px 25px rgb(0, 0, 0, 4.77%));
}

.card h3 {
  /* text-preset-1 */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #1f314f;
  padding:0;
  margin-top: 24px;
  margin-bottom:16px;

}
.card p {
  /* text-preset-2 */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #68778d;
}
.description {
  text-align: center;
  max-width: 256px;
}

